.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* S'assure qu'il ne dépasse pas */
  bottom: 20px; /* Distance depuis le bas */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%); /* Corrige le décalage du centrage */
  z-index: 1;
  width: auto; /* S'ajuste à son contenu */
  height: auto;

}

#next-button {
  background-color: black; /* Fond noir */
  border: 3px solid transparent; /* Bordure initiale transparente */
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.6), /* Halo lumineux rose/violet */
              0 0 20px rgba(255, 0, 255, 0.4),
              0 0 30px rgba(255, 0, 255, 0.2);
  color: white; /* Texte blanc */
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px; /* Largeur */
  height: 60px; /* Hauteur */
}

#next-button:hover {
  border-color: rgba(255, 0, 255, 0.8); /* Bordure lumineuse au survol */
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.8),
              0 0 30px rgba(255, 0, 255, 0.6),
              0 0 45px rgba(255, 0, 255, 0.4); /* Intensifie l'effet lumineux */
  transform: scale(1.05); /* Légère mise en avant au survol */
}
